body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:171px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:91px;
  width:794px;
  height:170px;
  font-size:72px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:790px;
  word-wrap:break-word;
}
